<div class="flex flex-col box">
  <div class="flex top-bar self-end flex-row">
    <app-froge-button></app-froge-button>
  </div>
  <div class="flex flex-row">
    <div class="primary-text saira-condensed-bold">
      <span>{{ 'Save the planet ' | uppercase }}</span>
      <span class="second"
        >{{ 'with ' | uppercase
        }}<span class="primary-green">{{ 'EcoDefi' | uppercase }}</span></span
      >
    </div>
    <div class="grow-1"></div>
    <div class="froge-mascot">
      <img class="img" src="assets/froge1200.png" alt="Froge" />
    </div>
  </div>
</div>
