<button
  class="button saira-condensed-semibold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-violet-400 to-lime-500 group-hover:from-violet-400 group-hover:to-lime-500 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"
  (click)="openFrogeApp()"
>
  <span
    class="span relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
  >
    {{ 'Froge App' | uppercase }}
  </span>
</button>
