<ng-container *ngIf="!small">
  <button
    type="button"
    class="saira-condensed-semibold button text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    (click)="openUniswap()"
  >
    Buy on Uniswap
  </button>
</ng-container>
<ng-container *ngIf="small">
  <button
    type="button"
    class="button-small saira-condensed-semibold button text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    (click)="openUniswap()"
  >
    Buy on Uniswap
  </button>
</ng-container>
