.button {
  padding: 12px 28px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .button {
    font-size: 16px !important;
  }
}

@media (max-width: 350px) {
  .button {
    font-size: 13px !important;
    padding: 8px 16px;
  }
}
